@using System.Web.Mvc.Html
@model p2groep04.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPasswordForm";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}


@section Main
{
    <div id="container-forgotpassword" class="container">
        <h2>Forgot Password</h2>
        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
            {
                <div class="alert alert-error">
                    @Html.ValidationSummary(true)
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.Email)

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="button" />
            </div>
        }
    </div>
}
@section scriptsMain {
    <script>
        $(window).resize(function () {

            $('.absolute-center').css({
                position: 'absolute',
                left: '50%',
                top: '50%',
                'margin-left': -$('#container-forgotpassword').width() / 2,
                'margin-top': -$('#container-forgotpassword').height() / 1.2


            });
        });
        // To initially run the function:
        $(window).resize();

        $('.field-validation-error, .alert').each(function () {
            $(this).addClass('animated fadeInDown');
        });
    </script>
}