@using System.Web.Mvc.Html
@using p2groep04.Controllers
@model p2groep04.Models.LoginModel
@{
    ViewBag.Title = "LoginForm";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}
@section Main
{
    <div id="container-login" class="absolute-center">
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
            {
                <div class="alert alert-error">
                    @Html.ValidationSummary(true)
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.UserName)

                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)

                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="button" />
                <div id="ForgotPassword">
                    @Html.ActionLink("Forgot password?","ForgotPassword", "Account")
                </div>
            </div>
            
        }
    </div>
}
@section scriptsMain {
    <script>
        $(window).resize(function () {

            $('.absolute-center').css({
                position: 'absolute',
                left: '50%',
                top: '50%',
                'margin-left': -$('#container-login').width() / 2,
                'margin-top': -$('#container-login').height() / 1.2

                
            });

        });
        // To initially run the function:
        $(window).resize();

        $('.field-validation-error, .alert').each(function() {
            $(this).addClass('animated fadeInDown');
        });
    </script>
}
