@using System.Web.Optimization
@model p2groep04.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h4>Add an external login</h4>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
            </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


