<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="~/Content/css/Style.css">
      <link rel="stylesheet" type="text/css" href="~/Content/plugins/bootstrap-modified/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="~/Content/plugins/bootstrap-modified/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="~/Content/plugins/animate/css/animate.css" />
      <link rel="stylesheet" type="text/css" href="~/Content/plugins/mono-social-icons/css/MonoSocialIconsFont.css">
      <title>@ViewBag.Title</title>
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="@Url.Action("Index", "Home")">Project</a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                      <li class="@(ViewBag.Active == "Home" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                      <li class="@(ViewBag.Active == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home")</li>
                  </ul>
                  @Html.Partial("_LoginPartial")
              </div>
          </div>
      </div>
      
      <section class="container">
          @RenderBody()
          <hr style="clear: both" />
          <footer>
              <p>&copy; HoGent @System.DateTime.Now.ToString("yyyy")</p>
          </footer> 
      </section> <!-- /container -->
    

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

  </body>
</html>