@using System.Activities.Statements
@using System.Web.Mvc.Html
@using p2groep04.Helpers
@using p2groep04.Models.Domain
@model p2groep04.Models.Domain.Suggestion

@{
    ViewBag.Title = "Voorstel";
}
<div class="pane">
    <h2>Voorstel</h2>
    <div id="suggestion-view">
        <p>
            <span>Voornaam student: @Html.DisplayFor(model => model.Student.FirstName)</span>
        </p>
        <p>
            <span>Achternaam student: @Html.DisplayFor(model => model.Student.LastName)</span>
        </p>
        <p>
            <span>Title: @Html.DisplayFor(model => model.Title)</span>
        </p>
        <p>
            <span>Subject: @Html.DisplayFor(model => model.Subject)</span>
        </p>
        <p>
            <span>Status: @Html.DisplayFor(model => model.CurrentState)</span>
        </p>

    </div>


    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            <h2>Feedback</h2>

            @Html.TextAreaFor(model => model.Feedbacks, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.Feedbacks)
        

            <h2>Likert schaal</h2>

            <h3>Is de titel speciek?</h3>

            <h3>Is de context duidelijk beschreven?</h3>

            <h3>Zijn de doelstelling specifiek, meetbaar, aanvaardbaar, realistisch en tijdsgebonden?</h3>

            <h3>Is de onderzoeksvraag geïnspireerd door reëel problemen uit het werkveld?</h3>

            <h3>Is het duidelijk wat de bijdrage van de student zal zijn?</h3>

            <h3>Is het onderwerp voldoende uitdagend en haalbaar?</h3>

            <h3>Is er minstens één goede bron opgenomen in de referencie lijst?</h3>

        </div>

    <div class="form-group">
        <input type="submit" name="btnSend" value="Geef feedback" class="button" />
        <input type="submit" name="btnAccept" value="Goedkeuren" class="button" />
        <input type="submit" name="btnDecline" value="Afwijzen" class="button" />
        <input type="submit" name="btnBack" value="Terug" class="button" />

    </div>

    }
</div>


