@using System.Web.Mvc.Html
@using p2groep04.Helpers
@using p2groep04.Models.Domain
@model IEnumerable<p2groep04.Models.Domain.Suggestion>

@{
    ViewBag.Title = "Voorstellen";
}

<h2>Voorstellen</h2>
<div class="pane">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Subject)</th>
            <th>Acties</th>
        </tr>
        @foreach (var suggestion in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => suggestion.Id)</td>
                <td>@Html.DisplayFor(modelItem => suggestion.Title)</td>
                <td>@Html.DisplayFor(modelItem => suggestion.Subject)</td>
                
                <td>@Html.ActionLink("Bewerk/Bekijken", "Edit", new { id = suggestion.Id }) </td>
                @if (Html.User().GetType() == typeof (Promotor))
                {
                    <td>@Html.ActionLink("Bewerk/Bekijken", "Evaluate", new { id = suggestion.Id }) </td>
                }
            </tr>
        }
    </table>
</div>