@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Projecten 2 - Groep 4</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/plugins/css")
    @Styles.Render("~/Content/css")
    
    @RenderSection("head", required: false)
</head>
    <body>
        <div id="wrapper">
            @RenderSection("Main", required: true)
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        <script src="http://www.fuelcdn.com/fuelux/2.6.0/loader.min.js" type="text/javascript"></script>
        @Scripts.Render("~/Content/plugins/js")
                
        @RenderSection("scriptsMain", required: false)
    </body>
</html>
