@using System.Web.Mvc.Html
@using System.Web.Optimization
@using p2groep04.Helpers
@{
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

@section head {
    <link href="//www.fuelcdn.com/fuelux/2.6.0/css/fuelux.min.css" rel="stylesheet" type="text/css">
    <link href="//www.fuelcdn.com/fuelux/2.6.0/css/fuelux-responsive.css" rel="stylesheet" type="text/css">
}

@section Main {
    <header>
        <div class="wrapper">
            <nav id="header-nav" class="clearfix">
                <ul id="main-nav">
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                </ul>
                <div id="account-nav" class="dropdown">
                    <a class="thumb-sm avatar" data-toggle="dropdown" href="#">
                        <img src="https://chamilo.hogent.be/application/bamaflex/php/webservices/foto_call.class.php?user_id=@Html.User().Id" />@Html.User().FirstName @Html.User().LastName<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu animated fadeInRight" role="menu" aria-labelledby="dLabel">
                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    </ul>
                </div>
            </nav>

        </div>
    </header>

    <div id="content" class="wrapper">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Message"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }
        @RenderBody()
    </div>
    
    <div style="clear:both;"></div>
    <footer>
        <div class="wrapper">
            <p>&copy; 2014 - This is a project made by a group consisting out of 4 members for University College Ghent</p>
            <ul class="credit-contact">
                <li>
                    <div class="credit-contact-container clearfix">
                        <span class="credit-contact-name">Maxim Geerinck</span>
                        <ul class="credit-contact-social">
                            <li class="symbol-email"><a href="mailto:maximgeerinck@hotmail.com"><span class="symbol">&#xe024;</span></a></li>
                            <li class="symbol-gplus"><a href="https://plus.google.com/+MaximGeerinck"><span class="symbol">&#xe039;</span></a></li>
                            <li class="symbol-twitter"><a href="https://twitter.com/c4d3r"><span class="symbol">&#xe087;</span></a></li>
                            <li class="symbol-linkedin"><a href="http://www.linkedin.com/profile/view?id=188053464"><span class="symbol">&#xe052;</span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="credit-contact-container clearfix">
                        <span class="credit-contact-name">Bram Baert</span>
                        <ul class="credit-contact-social">
                            <li class="symbol-email"><a href="#"><span class="symbol">&#xe024;</span></a></li>
                            <li class="symbol-gplus"><a href="#"><span class="symbol">&#xe039;</span></a></li>
                            <li class="symbol-twitter"><a href="#"><span class="symbol">&#xe087;</span></a></li>
                            <li class="symbol-linkedin"><a href="#"><span class="symbol">&#xe052;</span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="credit-contact-container clearfix">
                        <span class="credit-contact-name">Roy Hollanders</span>
                        <ul class="credit-contact-social">
                                <li class="symbol-email"><a href="#"><span class="symbol">&#xe024;</span></a></li>
                            <li class="symbol-gplus"><a href="#"><span class="symbol">&#xe039;</span></a></li>
                            <li class="symbol-twitter"><a href="#"><span class="symbol">&#xe087;</span></a></li>
                            <li class="symbol-linkedin"><a href="#"><span class="symbol">&#xe052;</span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="credit-contact-container clearfix">
                        <span class="credit-contact-name">Logan Dupont</span>
                        <ul class="credit-contact-social">
                            <li class="symbol-email"><a href="#"><span class="symbol">&#xe024;</span></a></li>
                            <li class="symbol-gplus"><a href="#"><span class="symbol">&#xe039;</span></a></li>
                            <li class="symbol-twitter"><a href="#"><span class="symbol">&#xe087;</span></a></li>
                            <li class="symbol-linkedin"><a href="#"><span class="symbol">&#xe052;</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </footer>
}

@section scriptsMain {    
    <script>
        $(function () {
            $(".credit-contact-social > li > a").hover(function () {
                var _parent = $(this).parent();
                _parent.addClass('animated pulse');

                _parent.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                    _parent.removeClass('animated pulse');
                });
            })
        });
    </script>    
    
    @RenderSection("scripts", required: false)
} 